@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Raleway:wght@600&display=swap");

:root {
  /*colors*/
  --primary-color: rgb(14, 15, 17);
  --container-color: rgb(29, 32, 35);
  --secondary-color: rgb(238, 243, 95);
  --text-color: #ffffff;
  --text-color-second:#929292;

  /*font-size for mobile*/
  --hero-text: 2.75rem;
  --sub-text: 0.938rem;
  --discription: 0.875rem;
  --headings: 2.5rem;
  --card-title: 2rem;
  --footer-title: 1.25rem;
  --footer-discription: 0.813rem;
  --copyright-text: 0.938rem;

  /*font-family*/
  --heading-font: "Raleway", sans-serif;
  --content-font: "Inter", sans-serif;

  /*other-properties*/
  --line-height: 1.4rem;
  --hero-weight: 700;
  --sub-weight: 500;
  --btn-weight: 600;
  --header-height:4rem;
  --z-angle-fixed:100;
}

/*font-size for web*/
@media screen and (min-width: 968px) {
  :root {
    --hero-text: 4.688rem;
    --sub-text: .925rem;
    --discription: .875rem;
    --headings: 6rem;
    --card-title: 2rem;
    --footer-title: 1.25rem;
    --footer-discription: 0.813rem;
    --copyright-text: 0.938rem;
  }
}

/*CSS resuables*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  font-size: var(--discription);
  color: var(--text-color);
  font-family: var(--content-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

/*CSS reusable classes*/

.container {
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding: 4.5rem 0 2rem;
}

.main{
    overflow: hidden;
}

/*=================SPLASH-SCREEN============================================*/

.intro-gif {
  width: 500px;
}
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 9999;
  animation: intro 6s ease forwards;
}

@keyframes intro {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*====================HEADER AND NAVIGATION======================================*/


.header{
width: 100%;
background-color: transparent;
position: fixed;
padding-top: .5rem;
top: 0;
left: 0;
z-index: var(--z-angle-fixed);
border-bottom: 1px solid rgb(14 15 17 / 31%);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo{
  width: 7rem;
}

.verison__check{
  width: 4rem;
  cursor: pointer;
}

.toggle__open{
  font-size: 1.5rem;
  cursor: pointer;
}

.logo{
  align-items: center;
}

.logo__area{
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
}

@media screen and (max-width:767px){
  .nav_menu{
    position: fixed;
    background-color: var(--primary-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(968px);
    transition: .3s;
  }
  .glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


}

.list__menu{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.navlink{
  color: var(--text-color);
  font-family: var(--content-font);
  font-size: 1rem;
  font-weight: var(--btn-weight);
  transition: .3s;

}

.contact__btn{
  background-color: var(--secondary-color);
  border: none;
  padding: .8rem 2rem .8rem 2rem;
  border-radius: 2rem;
}

.contact__btn a{
  color: var(--primary-color);
}

.contact__btn a:hover{
  color: var(--container-color);
}

.navlink:hover{
  color: var(--secondary-color);
}

.logo_nav{
  width: 7rem;
  top: 1.5rem;
  left: 1.5rem;
  position: absolute;
}

.nav__close{
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.nav__close:hover{
  color: var(--secondary-color);
}

.show-menu{
  right: 0;
}

.scroll-header{
  background-color: var(--container-color);
}
/*===============================HOME-SECTION==========================================*/

.home{
  overflow: hidden;
  position: relative;
}

.home_image_content{
  text-align: center;
}

.home_container{
  position: relative;
  padding-top: 4rem;
}

.home__data{
  text-align: center;
}

.home__img{
  width: 11.438rem;
}

.hero-text{
  font-size: var(--hero-text);
  font-family: var(--heading-font);
  font-weight: var(--hero-weight);
}

.hero-sub-text{
  font-size: var(--sub-text);
  font-weight: var(--sub-weight);
  color: var(--text-color-second);
  font-family: var(--content-font);
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: var(--line-height);
}

.hero__btn{
  border: none;
  padding: .8rem 2rem .8rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 2rem;
}

.hero__btn a{
  color: var(--primary-color);
  font-family: var(--content-font);
  font-weight: var(--btn-weight);
}

.hero__btn a:hover{
  color: var(--container-color);
}

/*======================SERVICES-SHORTLY===================================================================*/



.services__container{
  display: flex;
  flex-direction: column;
}


.service_window{
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  background-color: var(--container-color);
  border-radius: 1rem;
  right: 0;
  position: relative;
  right: 0;
}

.window_option_img{
  width: 2.625rem;
  height: 0.625rem;
}

.window_option{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255,255,255,.1);
}


.services_window_content h3{
  font-size: var(--card-title);
  font-family: var(--content-font);
  font-weight: var(--btn-weight);
}

.service_discription{
  font-size: var(--discription);
  font-family: var(--content-font);
  color: var(--text-color-second);
  line-height: var(--line-height);
  font-weight: var(--sub-weight);
}

.service_btn{
  background-color: var(--secondary-color);
  padding: .8rem 2rem .8rem 2rem;
  border: none;
  border-radius: 0.563rem;
}

.service_btn a{
  color: var(--primary-color);
  font-size: var(--sub-text);
  font-family: var(--content-font);
  font-weight: var(--btn-weight);

}

.service_btn a:hover{
  color: var(--container-color);
}

.services_window_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.813rem;
}

/*=========================PRODUCT-SECTION===============================================================*/

.products{
  overflow: hidden;
  position: relative;
}


.products__container{
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--container-color);
  text-align: center;
  gap: 0;
}




.product__headings{
  font-family: var(--content-font);
  font-size: var(--footer-title);
  font-weight: 300;
  color: var(--text-color-second);
  text-align: center;
  padding-bottom: 3rem;
  letter-spacing: 0.235rem;
}

/*========================SKILLED-SECTION================================================*/

.skilled__headings{
  font-size: var(--headings);
  text-align: center;
  font-family: var(--content-font);
  font-weight: var(--btn-weight);
  color: var(--text-color-second);
  padding-bottom: 3rem;
}

.skilled__headings p{
  font-size: var(--sub-text);
  letter-spacing: 1px;
  font-weight: 300;
}



.skills__window{
  background-color: var(--container-color);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 1rem;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.skill__banner img{
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.skill__content{
  width: 100%;
  padding: 1rem 2.063rem 2.063rem 2.063rem;
}

.skill__content h3{
  font-size: var(--card-title);
  font-family: var(--content-font);
  font-weight:var(--btn-weight);
}

.skill__content p{
  color: var(--text-color-second);
  line-height: var(--line-height);
  padding-top: 0.688rem;
}

/*=====================PROCESS-SECTION============================================*/

.process{
  padding: 4.5rem 1.5rem 2rem;
  border-radius: 1rem;
}


.process__window{
  background-color: var(--primary-color);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 1rem;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.process__banner img{
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.process__content{
  width: 100%;
  padding: 1rem 2.063rem 2.063rem 2.063rem;
}

.process__content h3{
  font-size: var(--card-title);
  font-family: var(--content-font);
  font-weight:var(--btn-weight);
}

.process__content p{
  color: var(--text-color-second);
  line-height: var(--line-height);
  padding-top: 0.688rem;
}

.process__container{
  padding: 1rem 0 5rem;

}

/*=================SWIPER-CLASS=======================*/

.swiper-button-next::after,
.swiper-button-prev::after{
  content: '';
}

.swiper-button-next,
.swiper-button-prev{
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  background-color: var(--container-color);
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background-color: var(--secondary-color);
  color: var(--container-color);
}


.swiper-button-prev{
  left: calc(50% - 3rem);
}

.swiper-button-next{
  right: calc(50% - 3rem);
}


/*==================UPDATES-SECTION======================================*/


.post__category{
  background-color: var(--secondary-color);
  border: none;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 2rem;
  font-size: var(--discription);
  font-weight: 600;
  font-family: var(--content-font);
  margin-bottom: .5rem;
  display: inline-flex;
  align-items:center
  ;
}

.post_icon{
  font-size: 1.2rem;
 padding-right: 5px;
}


/*===============================CONTACT-SECTION==================================================*/

.contact__container{
  padding-bottom: 3rem;
}

.contact__container h1{
    font-size: var(--headings);
    text-align: center;
    font-family: var(--content-font);
    font-weight: var(--btn-weight);
    color: var(--text-color-second);

}

.contact__btn__bottom{
  background-color: var(--secondary-color);
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  margin: auto;
  border-radius: 2rem;

}

.contact__btn__bottom a{
  color: var(--container-color);
  font-family: var(--content-font);
  font-size: var(--sub-text);
  font-weight: var(--btn-weight);
}


/*=======================FOOTER-SECTION==================================================*/

.divider__bar{
  border-top: 1px solid hsla(0,0%,100%,.1);
}

.footer__container{
  row-gap: 2rem;
}
.footer__logo{
  width: 7rem;
  
}

.footer__logo__container{
  text-align: center;
}

.footer_soc_img{
  width: 2.188rem;
}

.footer__content,
.footer__links{
  display: grid;
}

.footer__links{
  gap: .5rem;
}

.footer__heading{
  font-family: var(--content-font);
  font-size: var(--footer-title);
  font-weight: var(--btn-weight);
  margin-bottom: 1rem;
}

.footer__link{
  color: var(--text-color-second);
  font-family: var(--content-font);
  font-size: var(--footer-discription);
  font-weight: 400;
}

.footer__link:hover{
  color: var(--secondary-color);
}

.footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 4rem;
}

.footer_soc_links{
  display: grid;
  grid-template-columns: repeat(2,0fr);
  
}

.footer_copy{
  color: var(--text-color-second);
  font-size: var(--footer-discription);
}

.footer__info__container{
  text-align: center;
  margin-top: 1rem;
}


/*=====================ACTIVE-LINK=======================================*/

.active-link{
  color: var(--secondary-color);
}

/*=======================SROLL-UP==============================================*/

.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  color: var(--secondary-color);
  font-size: 1rem;
  background-color: var(--text-color-second);
  padding: .9rem;
  border-radius: 2rem;
  display: inline-flex;
  z-index: 10;
  transition: .5s;
}

.scrollup:hover{
  transform:translateY(-.25rem) ;
  background-color: var(--secondary-color);
  color: var(--container-color);
}

.show-scroll{
  bottom: 8rem;
}


/*================================BREAK-POINTS==============================================================*/

/*-------------------------FOR-SMALL-DEVICES---------------------------------------------------*/

@media screen and (max-width: 280px){
  .logo{
    width: 5rem;
  }
  .verison__check{
    width: 3rem;
  }

  .skill__content h3{
    font-size: 1.5rem;
  }

  .contact__container h1{
    font-size: var(--card-title);
  }

  .footer__content{
    gap: 2rem 2rem;
  }

  .footer__heading{
    font-size: 1rem;
  }

  .footer__link{
    font-size: 0.700rem;
  }

  .header{
    padding-top: 0;
  }
}

/*------------------FOR-MID-MOBILES------------------------------*/

@media screen and (min-width: 390px){

  .services__container{
    
  padding-left: 0rem;
  padding-right: 0rem;
  }


}



/*-------------------------FOR-MEDIUM-DEVICES---------------------------------------------------*/

@media screen and (min-width: 600px){

  .services__container{
    
  padding-left: 5rem;
  padding-right: 5rem;
  }

  .hero-text{
    font-size: 3.75rem;
  }

  .hero-sub-text{
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .product__logo_img img{
    width: 200px;
  }

  .skilled__container {
    grid-template-columns: repeat(2,2fr);
  }

  .process__container {
    padding: 1rem 7rem 5rem;
}

.updates__container {
  padding: 1rem 7rem 5rem;
}

.contact__container h1{
  font-size: 3rem;
}

.footer__content{
  gap: 2.5rem 10rem;
}
  
}



/*-------------------------FOR-LARGE-DEVICES---------------------------------------------------*/

@media screen and (min-width: 1023px){

  .header{
    padding-top: 0;
  }

  .nav{
    height: 6rem;
  }

  .list__menu{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    padding: 0;
    align-items: center;
  }

  .logo_nav,
  .nav__close,
  .toggle__open{
    display: none;
  }

  .logo__area{
    padding-left: 1.5rem;
  }


  .home_container{
    display: flex;
    flex-direction: row-reverse;
    gap: 13rem;
    padding-top: 8rem;
  }

  .hero-sub-text{
    font-size: var(--discription);
    padding-bottom: 2rem;
  }

  .home__img{
    width: 18rem;
  }

  .services__container{
    flex-direction: row;
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .service_btn a{
    font-size: var(--sub-text);
  }

  .products__container{
    grid-template-columns: repeat(4, 1fr);
  }

  .skilled__headings{
    font-size: 4rem;
  }

  .skilled__headings p{
    font-size: 1.5rem;
  }

  .skilled__container{
    padding-right: 9rem;
    padding-left: 9rem;
  }

  .process__container{
    padding: 1rem 21rem 5rem;
  }

  .updates__container{
    padding: 1rem 0rem 5rem;
  }

  .contact__container h1{
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .footer__container{
    display: flex;
    flex-direction: row-reverse;
    gap: 20rem;
  }

  .footer__logo{
    padding-top: 5rem;
  }

  .footer__logo {
    width: 9rem;
}

.updates__container{
  grid-template-columns: repeat(3,1fr);
}


  
}


@media screen and (min-width: 1040px) {
  
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .nav{
    height: 4rem;
  }

  .navlink{
    font-size: var(--discription);
    font-weight: var(--btn-weight);
  }

  .skilled__headings {
    font-size: 3rem;
}

.skilled__headings p {
  font-size: 1rem;
}

.process__container {
  padding: 1rem 35rem 5rem;
}

.footer__logo {
  padding-top: 7rem;
}


}